<div class="container-wrap" style="opacity: 1;">
<div class="container main-content">
<div class="row">
<div class="col span_12">
<div id="error-404">
<h1>404</h1>
<h2>Not Found</h2>
</div>
</div> 
</div> 
</div> 
</div>