{% section 'index-header' %}
<a name="pagecontent" id="pagecontent"></a>
<!-- Claim Icons -->
{% section 'assert-icons' %}
<!-- LYFE INGREDIENTS SUPERFOODS -->
{% section 'lyfe-ingredients-superfoods' %}
<!-- END LYFE INGREDIENTS SUPERFOODS -->

<!-- LYFE TRANSFORMATION PROGRAM -->
{% section 'lyfe-transformation-program' %}
<!-- END LYFE TRANSFORMATION PROGRAM -->

<!-- LYFE EXPERIENCE -->
{% section 'lyfe-experience' %}
<!-- END LYFE EXPERIENCE -->

<!-- LYFE EXPERIENCE -->
{% section 'lyfe-fuel-mission' %}
<!-- END LYFE EXPERIENCE -->

<!-- TAKE PART IN THE MOVEMENT -->
{% section 'take-part-movement' %}
<!-- END TAKE PART IN THE MOVEMENT -->

<!-- READY TO LIVE -->
{% section 'ready-to-live' %}
<!-- END READY TO LIVE -->

{% comment %}
,
navigation: {
keyboardNavigation:"off",
keyboard_direction: "horizontal",
mouseScrollNavigation:"off",
mouseScrollReverse:"default",
onHoverStop:"off",
arrows: {
style:"zeus",
enable:true,
hide_onmobile:false,
hide_onleave:true,
hide_delay:200,
hide_delay_mobile:1200,
tmp:'
<div class="tp-title-wrap">
    <div class="tp-arr-imgholder"></div>
</div>',
left: {
h_align:"left",
v_align:"center",
h_offset:20,
v_offset:0
},
right: {
h_align:"right",
v_align:"center",
h_offset:20,
v_offset:0
}
}
}
{% endcomment %}