{% comment %}
  The contents of the page.contact.liquid template can be found in /sections/contact-template.liquid
{% endcomment %}
<div class="container-wrap">
<div class="container main-content">
<div class="row">
<div id="fws_592d79b6f37d5" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row full-width-content standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div> </div><div class="col span_12 dark left">
<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div id="map_592d79b6f3dc6" style="height: 500px;" class="nectar-google-map" data-dark-color-scheme="" data-ultra-flat="" data-greyscale="" data-extra-color="" data-enable-animation="false" data-enable-zoom="1" data-zoom-level="12" data-center-lat="34.041273" data-center-lng="-118.429743" data-marker-img="https://lyfefuel.com/wp-content/uploads/2014/04/Y.png"></div><div class="map_592d79b6f3dc6 map-marker-list"><div class="map-marker" data-lat="34.041397" data-lng="-118.429743" data-mapinfo="LyfeFuel HQ"></div></div>
</div>
</div>
</div>
</div></div>
<div id="fws_592d79b700047" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row full-width-section standard_section   " style="padding-top: 50px; padding-bottom: 50px; "><div class="row-bg-wrap"> <div class="row-bg  using-bg-color  " style="background-color: #00aaa9; " data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div> </div><div class="col span_12 dark left">
<div class="vc_col-sm-3 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
</div>
</div>
</div>
<div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_raw_code wpb_content_element wpb_raw_html">
<div class="wpb_wrapper">
<div id="klaviyo_emailsignup_widget-2" class="widget widget_klaviyo_emailsignup_widget"><form id="kla_embed_klaviyo_emailsignup_widget-2" class="klaviyo_wp_styling" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
<input type="hidden" name="g" value="jnGiZr">
<div class="klaviyo_field_group">
<label for="kla_email_klaviyo_emailsignup_widget-2" style="display:none;"></label>
<input type="text" value="" name="email" id="kla_email_klaviyo_emailsignup_widget-2" placeholder="Your email" style="padding:10px !important;line-height:22px;color:#333;">
</div>
<div class="klaviyo_messages">
<div class="success_message" style="display:none;"></div>
<div class="error_message" style="display:none;"></div>
</div>
<div class="klaviyo_form_actions">
<button type="submit" class="klaviyo_submit_button" style="background-color:#222!important;">Subscribe</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="vc_col-sm-3 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
</div>
</div>
</div>
</div></div>
<div id="fws_592d79b700db6" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section   " style="padding-top: 0px; padding-bottom: 0px; "><div class="row-bg-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div> </div><div class="col span_12 dark left">
<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element  vc_custom_1460419586495">
<div class="wpb_wrapper">
<h6 style="text-align: left;"><span style="color: #359ca1;">Contact Us!</span></h6>
</div>
</div>
</div>
</div>
</div>
</div></div>
<div id="fws_592d79b7016ad" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row full-width-section standard_section   " style="padding-top: 2px; padding-bottom: 60px; "><div class="row-bg-wrap"> <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div> </div><div class="col span_12 dark left">
<div class="vc_col-sm-8 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<div role="form" class="wpcf7" id="wpcf7-f2772-p2092-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
{% form 'contact' %}
{% if form.posted_successfully? %}
        <p class="quote">{{ 'contact.form.post_success' | t }}</p>
      {% endif %}

      {% if form.errors %}
        <p class="quote">{{ 'general.forms.post_error' | t }}</p>

       {% assign message = 'contact.form.message' | t %}
        <ul class="center">
          {% for field in form.errors %}
            {% if field == 'form' %}
              <li>
                {{ form.errors.messages[field] }}
              </li>
            {% else %}
              <li>
                {% assign field_name = field | replace: 'body', message %}
                {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
              </li>
            {% endif %}
          {% endfor %}
         </ul>
      {% endif %}
<div id="form">
<div id="contentleft">
<strong>First Name<br/>
<span><input type="text" name="contact[First Name]" value="" size="40" required/></span></strong><p></p>
<p><strong>Last Name<br/>
<span><input type="text" name="contact[Last Name]" value="" size="40" required class="" aria-required="true" aria-invalid="false"/></span></strong></p>
</div>
<div id="contentright">
<strong>Phone<br/>
<span><input type="tel" name="contact[Phone]" value="" size="40" required aria-invalid="false"/></span></strong><p></p>
<p><strong>E-mail<br/>
<span><input type="email" name="contact[email]" value="" size="40" required aria-required="true" aria-invalid="false"/></span></strong></p>
</div>
<div id="bottom">
<p><strong>Your Question<br/>
<span><textarea name="contact[body]" cols="40" rows="10" required aria-invalid="false"></textarea></span> </strong></p>
<p><input type="submit" value="SUBMIT"/></p>
</div>
</div>
  {% endform %}
</div>
</div>
</div>
</div>
</div>
</div>
<div style="margin-top: 30px; " class="vc_col-sm-4 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h2>Don&#8217;t hesitate to reach out!</h2>
<p>We are always here to help!  Give us a call, shoot us an e-mail, speak with a LYFE coach, or even consult your peers any time!  We offer full customer support on all of our products, including our 21-day challenges.  Don&#8217;t hesitate!</p>
<h2>Dedicated to Customer Service!</h2>
<p>We take our customers seriously. Your problem is our problem. Please give us a call if you ever encounter any issues with our programs or products.</p>
</div>
</div>
<div class="divider-wrap"><div style="height: 5px;" class="divider"></div></div><div class="col span_6" data-animation="" data-delay="0">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p><b>Address</b>:<br/>
LYFE Ventures<br/>
2355 Westwood Blvd #1401<br/>
Los Angeles, CA 90064</p>
</div>
</div>
</div><div class="col span_6 col_last" data-animation="" data-delay="0">
<div class="wpb_text_column wpb_content_element ">
<div class="wpb_wrapper">
<p><b>Phone</b>: (415) ONE-LYFE<br/>
<b></b><strong>General Inquiries:</strong> <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="e28b8c848da28e9b84878497878ecc818d8f">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script><br/>
<strong>Customer Support:</strong> <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="93e0e6e3e3fce1e7d3ffeaf5f6f5e6f6ffbdf0fcfe">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></p>
</div>
</div>
</div><div class="clear"></div>
</div>
</div>
</div>
</div></div>
</div> 
</div> 
</div> 
<style>
  .vc_custom_1460419586495 {
    margin-top: 5%!important;
}
  .container-wrap input[type="text"], .container-wrap textarea, .container-wrap input[type="email"], .container-wrap input[type="password"], .container-wrap input[type="tel"], .container-wrap input[type="url"], .container-wrap input[type="search"], .container-wrap input[type="date"] {
    background-color: #ffffff!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    font-size: 16px!important;
    -o-box-shadow: none!important;
    padding: 0px!important;
}
</style>