<a name="pagecontent" id="pagecontent"></a>
<div class="container-wrap ambassador-page">
  <div class="container main-content">
    <div class="row">
      <div id="ambassador-row" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section " style="padding-top: 0px; padding-bottom: 0px; ">
        <div class="row-bg-wrap">
          <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false">
          </div>
        </div>
        <div class="col span_12 dark left content-column">
          <div class="vc_col-sm-8 wpb_column column_container vc_column_container col no-extra-padding amb-page-article" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    {% section 'page-title' %}
                    {% section 'page-featured-image' %}
                    <div class="amb-page-content">
                      {{ page.content }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_col-sm-4 wpb_column column_container vc_column_container col no-extra-padding amb-page-sidebar " data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <!-- PAGE SIDEBAR -->
                    {% section 'ambassador-combobox' %}
                    {% section 'ambassador-combobox2' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="newsletter-row" class="container-wrap ambassador-page">
  <div class="bg-overlay"></div>
  <div class="container main-content">
    <div class="row">
      <div id="email-capture-row" data-midnight="dark" data-bg-mobile-hidden="" class="wpb_row vc_row-fluid vc_row standard_section " style="padding-top: 0px; padding-bottom: 0px; ">
        <div class="row-bg-wrap">
          <div class="row-bg    " style="" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false">
          </div>
          <div class="col span_12 dark left">
            <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element email-list-block">
                    <div class="wpb_wrapper">
                      <!-- Newsletter Section -->
                      {% section 'generic-newsletter' %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
