<div id="index-header-wrap" data-animate-in-effect="none" data-midnight="light" class="header-slider-container">
    <div class="page-header-bg-image"
         style="background-image: url({{ 'lyfe-fuel-girl-in-black-new-Hero.jpg' | file_url }});"></div>
    <div class="flex-container flex-column column-centered nowrap">
        <div class="page-header-content flex-column column-centered nowrap">
            <h1 class="header-banner">PREMIUM FUEL FOR AN
                <br/> ACTIVE LYFESTYLE</h1>
            <div class="header-button"><a href="{{ shop.url }}/collections/all">SHOP NOW</a></div>
        </div>
    </div>
</div>