<div class="container main-content">
    <div class="row">
        <div id="section-{{ section.id }}" data-midnight="light" data-bg-mobile-hidden=""
             class="wpb_row vc_row-fluid vc_row full-width-section standard_section   "
             style="padding-top: 0px; padding-bottom: 20px; border-bottom: 1px solid white; background-color: white ">
            <div class="col span_6 light center">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                     data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                     data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                     data-delay="0">
                    <div class="vc_column-inner" style="padding-top: 60px; padding-bottom: 60px;">
                        <div class="wpb_wrapper">
                            <div class="divider-wrap">
                                <div style="height: 25px;" class="divider"></div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h6 style="text-align: left; font-size: 40px; font-weight: 500; color: #43484d; line-height: 40px; margin-bottom: 20px;">
                                        Made from 30+ Organic Ingredients and
                                        Superfoods</h6>                                </h6>
                                    <p style="text-align: left; color: #43484d; font-size: 18px;">We put the best in to
                                        help you get the most our LYFE</p>
                                    <p style="text-align: left; color: #43484d; font-size: 14px;">Includes Organic
                                        Greens, Vitamins & Minerals, CoQ-10, Digestive Enzymes, Pre & Probiotics, Plant
                                        Protiens, Powerful Antioxidants, and Omega 3s.</p>
                                    <p style="text-align: left; float: left; width: 49%; margin-right: 2%;">
                                        <a href="/collections/all" style="color: #42241d; border: 3px solid #42241d; border-radius: 3px; display: block; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">SHOP CHOCOLATE</a>
                                    </p>
                                    <p style="text-align: left; float: left; width: 49%;">
                                        <a href="/pages/mission/"style="color: #e6c69c; border: 3px solid #e6c69c; border-radius: 3px; display: block; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;">JOIN OUR CAUSE</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span_6 light">
                <div class="row-bg using-image"
                     style="background-color: white; background-image: url({{ '2-DE-BAGS-VANCHOC.png' | asset_url }}); background-position: center; background-repeat: no-repeat; background-size: contain; min-height: 400px;"></div>
            </div>
        </div>
    </div>
</div>
