<div class="container main-content" style=" background-color: white; background-image: url({{ 'lyfe-fuel-mission.jpg' | asset_url }}); background-position: center center; background-repeat: no-repeat; background-size: contain;">
    <div class="row">
        <div id="section-{{ section.id }}" style="position: relative;">
            <div class="col span_12 light center">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                     data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                     data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                     data-delay="0" style="height: 600px;">
                    <div class="vc_column-inner" style="position: absolute; bottom: 40%;">
                        <div class="wpb_wrapper">
                            <div class="divider-wrap">
                                <div style="height: 25px;" class="divider"></div>
                            </div>
                            <div class="wpb_text_column wpb_content_element" style="">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;"><a
                                                class="nectar-button large see-through-2 has-icon"
                                                href="#" data-color-override="false"
                                                data-hover-color-override="#359ca1"
                                                data-hover-text-color-override="#fff"><span>LEARN MORE ABOUT OUR MISSION</span><i
                                                    class="icon-button-arrow"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column column_container vc_column_container col no-extra-padding" style="position: absolute; bottom: 0;">
                    <h6 style="margin-bottom: 20px; text-align: center; color: #43484d; font-weight: 600; font-size: 18px;">
                        <span style="color: #43484d;">FOR EVERY PURCHASE: 1 YEAR'S WORTH OF VITAMIN A FORA CHILD IN NEED & DONATION TO VITAMIN ANGELS</span>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
