<div class="container main-content">
    <div class="row">
        <div id="fws_592d2ae098ffe" data-midnight="light" data-bg-mobile-hidden=""
             class="wpb_row vc_row-fluid vc_row full-width-section standard_section   "
             style="padding-top: 120px; padding-bottom: 120px; border-bottom: 1px solid white; ">
            <div class="row-bg-wrap">
                <div class="row-bg using-image   "
                     style="background-image: url({{ 'header4.jpg' | asset_url }}); background-position: center center; background-repeat: no-repeat; "
                     ></div>
            </div>
            <div class="col span_12 light center">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                     data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                     data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation=""
                     data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h6 style="text-align: center; color: black;"><span class="ez-toc-section"
                                                                          id="READY_TO_LIVE_YOUR_FULLEST_EVERYDAY">READY TO LIVE YOUR FULLEST EVERYDAY?</span>
                                    </h6>
                                    <p style="text-align: center; margin-top: 20px;">
                                        <a href="/collections/all" style="margin-right: 1%; width: 25%; color: #000; border: 3px solid #000; border-radius: 3px; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;"><span>SHOP LYFEFUEL</span></a>
                                        <a href="/pages/mission/"  style="width: 25%; color: #000; border: 3px solid #000; border-radius: 3px; padding: 10px 20px; font-weight: bold; font-size: 18px; text-align: center;"><span>JOIN OUR CAUSE</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
