<div class="container-wrap">
    <div class="container main-content">
        <div class="row">
            <div id="fws_592d2ae091422" class="wpb_row vc_row-fluid full-width-section standard_section   "
                 style="margin-bottom: 20px; padding-top: 0px; padding-bottom: 0px; ">
                <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding instance-9"
                     data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
                     data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="divider-wrap">
                                <div style="height: 25px;" class="divider"></div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper"><h6
                                            style="margin-bottom: 20px; text-align: center; color: #43484d; font-weight: 600;">
                                        <span class="ez-toc-section" id=""> <span style="color: #43484d;">TAKE PART IN THE MOVEMENT</span></span>
                                    </h6></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-bg-wrap">
                    <div class="row-bg  using-bg-color "></div>
                </div>
                <div class="col span_12 light ">
                    <div style=" background-image: url('{{ "subscribe2.jpg" | asset_url }}'); height: 390px;"
                         class="vc_col-sm-4 wpb_column column_container vc_column_container col padding-4-percent"
                         data-using-bg="true" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                         data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1"
                         data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div id="fws_592d2ae091cb6" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1><span class="ez-toc-section"
                                                                      id="SUBSCRIBE">SUBSCRIBE</span></h1>
                                                            <h4><span class="ez-toc-section"
                                                                      id="We_offer_a_SPECIAL_DISCOUNTS_BONUS_REWARDS_POINTS_and_FREE_SHIPPING_when_you_enroll_in_our_REFUEL_subscription_service">We offer SPECIAL DISCOUNTS, BONUS REWARDS POINTS, and FREE SHIPPING  when you enroll in our REFUEL subscription service.</span>
                                                            </h4>
                                                            <p>Sign up today to get alerts on our latest specials!</p>
                                                            <a class="nectar-button medium see-through-2 has-icon"
                                                               href="/pages/refuel" data-color-override="false"
                                                               data-hover-color-override="#259996"
                                                               data-hover-text-color-override="#fff"><span>SUBSCRIBE HERE</span><i
                                                                        class="fa-pencil-square-o"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style=" background-image: url('{{ "Share1.jpg" | asset_url }}'); height: 390px;"
                         class="vc_col-sm-4 wpb_column column_container vc_column_container col padding-4-percent"
                         data-using-bg="true" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                         data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1"
                         data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div id="fws_592d2ae092c59" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1><span class="ez-toc-section" id="JOIN_OURCONTESTS">JOIN OUR CONTESTS</span>
                                                            </h1>
                                                            <h4><span class="ez-toc-section"
                                                                      id="Enter_to_winspecial_prizes_from_LYFE_Fuel_once_you_upload_contenttoyour_social_media_profiles">Enter to win special prizes from LYFE Fuel once you upload content to your social media profiles.</span>
                                                            </h4>
                                                            <p>Show us what you do to &#8220;Live Your Fullest Everyday&#8221;
                                                                by tagging @lyfefuel and using #lyfefuel.</p>
                                                            <p>
                                                                <a href="https://www.facebook.com/liveyourfullesteveryday"><i
                                                                            class="icon-default-style fa-facebook-square extra-color-3"></i></a>
                                                                <a href="https://www.instagram.com/lyfefuel/"><i
                                                                            class="icon-default-style fa-camera-retro extra-color-3"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style=" background-image: url('{{ "Subscribe1.jpg" | asset_url }}');  color: #ffffff; height: 390px;"
                         class="vc_col-sm-4 wpb_column column_container vc_column_container col padding-4-percent"
                         data-using-bg="true" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                         data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1"
                         data-animation="" data-delay="0">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div id="fws_592d2ae093b8d" data-midnight="" data-bg-mobile-hidden=""
                                     class="wpb_row vc_row-fluid vc_row standard_section   "
                                     style="padding-top: 0px; padding-bottom: 0px; ">
                                    <div class="row-bg-wrap">
                                        <div class="row-bg   " style=""></div>
                                    </div>
                                    <div class="col span_12  left">
                                        <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding"
                                             data-bg-cover="" data-padding-pos="all" data-has-bg-color="false"
                                             data-bg-color="" data-bg-opacity="1" data-hover-bg=""
                                             data-hover-bg-opacity="1" data-animation="" data-delay="0">
                                            <div class="vc_column-inner">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1><span class="ez-toc-section"
                                                                      id="SHARE_LYFE">SHARE LYFE</span></h1>
                                                            <h4><span class="ez-toc-section"
                                                                      id="Give_the_gift_of_health_by_sharing_your_love_for_LYFE_Your_friends_will_love_youYour_friendearns_a_20_discount_on_their_order_and_you_receive_a_CASHbonuswhen_they_make_apurchase">Give the gift of health by sharing your love for LYFE.  Your friends will love you! Your friend earns a 20% discount on their order and you receive a CASH bonus when they make a purchase!</span>
                                                            </h4>
                                                            <a class="nectar-button small see-through-2 has-icon"
                                                               href="https://lyfefuel.com/referral-program/"
                                                               data-color-override="false"
                                                               data-hover-color-override="#259996"
                                                               data-hover-text-color-override="#fff"><span>GET YOUR CODE</span><i
                                                                        class="fa-thumbs-o-up"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
